@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200..900&display=swap");

/* Browser style reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-grey-100: #eee;
  --color-grey-300: #ddd;
  --color-grey-400: #ccc;
  --color-grey-500: #999;
  --color-grey-900: #333;
  --color-success-light: #f2fbfa;
  --color-success-dark: #00b797;

  /* Spacing */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  /* Border radius */
  --radius-sm: 8px;
  --radius-lg: 24px;

  /* Typography */
  font-family: "Source Sans 3", sans-serif;
  line-height: 1.22;
  font-weight: 400;

  /* Global styles */
  color: var(--color-grey-900);
  background-color: var(--color-grey-100);
}
